@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Roboto:100,300,400,700&display=swap");

body {
  margin: 0;
  padding: 0;
}

.uppercase {
  text-transform: uppercase;
}

/*Tablet and desktop styles*/

@media (min-width: 768px) {
  body {
    min-width: 1160px;

    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: white;
  }

  .container {
    width: 1140px;
    margin: 0 auto;
  }

  .btn {
    display: block;
    position: relative;

    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;

    padding: 16px 15px;
    margin: 15px;
    margin-left: 0;

    background-color: #0d2e69;
  }

  .header-top {
    margin: 18px auto 0px;

    min-height: 100px;
    color: rgb(13, 46, 105);
  }

  .header-logo {
    float: left;

    vertical-align: middle;
    width: 170px;
    height: 80px;

    background-color: white;
    border: 3px solid rgb(13, 46, 105);
    cursor: pointer;

    font-size: 36px;
    font-weight: bold;
    line-height: 80px;
    text-align: center;
  }

  .header-top-phone {
    display: flex;
    float: right;
    width: 330px;

    padding: 8px 0 2px;
  }

  .header-top-phone div {
    width: 282px;
    font-size: 14px;
    line-height: 15px;
    text-align: right;

    cursor: default;
  }

  .header-top-phone div a {
    width: 233px;
    font-size: 32px;
    color: inherit;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 27px;
    text-align: right;
  }

  .header-nav {
    padding: 0;
    margin: 23px 0 0;

    float: right;
    width: 872px;

    list-style: none;
  }

  .header-nav li {
    float: right;
    margin-left: 37px;
  }

  .header-nav li:last-child {
    margin-right: 0;
  }

  .header-nav a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
  }

  .header-nav a:hover {
    text-decoration: underline;
    text-shadow: 0 0 0.5px #0d2e69, 0 0 0.6px #0d2e69, 0 0 0.6px #0d2e69;
  }

  .header-nav a:active {
    color: rgba(13, 46, 105, 0.5);
    text-decoration: underline;
  }

  .header-main {
    display: flex;
    background: url("imgs/header-bg.jpg") center center no-repeat;
    min-height: 580px;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
    background-size: cover;
  }

  .header-main::before {
    content: "";
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    background-size: auto;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .promo {
    float: left;
    position: relative;
    z-index: 2;

    min-width: 560px;
  }

  .promo a {
    color: white;
    text-decoration: none;
  }

  .promo a .L {
    font-size: 30px;
    font-family: "PlayfairDisplay", serif;
    font-weight: bold;
    line-height: 30px;

    margin-top: 330px;

    cursor: default;
  }

  .promo a .XL {
    display: block;
    margin-top: 6px;

    font-size: 54px;
    font-family: "PlayfairDisplay", serif;
    font-weight: bold;
    line-height: 54px;

    cursor: default;
  }

  .promo .btn {
    margin-top: 39px;
    max-width: 330px;
  }

  .promo .btn:hover {
    transition: 0.3s;
    background-color: white;
    color: #0d2e69;
  }

  .promo .btn:active {
    color: rgba(13, 46, 105, 0.6);
    box-shadow: 3px 3px 3px 0px rgba(13, 46, 105, 0.2) inset;
  }

  .feedback {
    float: right;
    position: relative;
    z-index: 2;
    width: 397px;
    height: 496px;
    background-color: #0d2e69;
    padding: 38px 32px 25px;

    margin: 163px auto 141px;
  }

  .feedback .section-title {
    margin: 0px;
    margin-bottom: 4px;
    padding: 0;

    font-size: 28px;
    font-weight: bold;
    text-align: center;

    cursor: default;
  }

  .feedback .feedback-tip {
    margin: 0 auto;
    padding: 0;

    font-size: 18px;
    font-weight: lighter;
    line-height: 31px;
    text-align: center;

    cursor: default;
  }

  .feedback form {
    margin: 35px auto 20px;
    padding: 0 10px;
  }

  .feedback input[type="text"],
  .feedback textarea {
    width: 100%;
    box-sizing: border-box;

    margin-bottom: 14px;
    padding: 13px 12px;

    font: inherit;

    background-color: #0d2e69;
    border: 1px solid #cccccc;
  }

  .feedback textarea {
    display: block;
    resize: none;
  }

  .feedback input[type="submit"] {
    background-color: #ffffff;
    border: none;

    color: #0d2e69;
    font-size: 20px;
    font-weight: bold;

    width: 264px;
    margin: 20px auto 46px;

    cursor: pointer;
  }

  .feedback input[type="submit"]:active {
    color: rgba(13, 46, 105, 0.6);
    box-shadow: 3px 3px 3px 0px rgba(13, 46, 105, 0.2) inset;
  }

  .feedback input::-webkit-input-placeholder {
    color: #cccccc;
    opacity: 0.53;
  }
  .feedback input::-moz-placeholder {
    color: #cccccc;
    opacity: 0.53;
  } /* Firefox 19+ */
  .feedback input:-moz-placeholder {
    color: #cccccc;
    opacity: 0.53;
  } /* Firefox 18- */
  .feedback input:-ms-input-placeholder {
    color: #cccccc;
    opacity: 0.53;
  }

  .feedback textarea::-webkit-input-placeholder {
    color: #cccccc;
    opacity: 0.53;
  }
  .feedback textarea::-moz-placeholder {
    color: #cccccc;
    opacity: 0.53;
  } /* Firefox 19+ */
  .feedback textarea:-moz-placeholder {
    color: #cccccc;
    opacity: 0.53;
  } /* Firefox 18- */
  .feedback textarea:-ms-input-placeholder {
    color: #cccccc;
    opacity: 0.53;
  }

  .feedback input:focus::-webkit-input-placeholder {
    color: transparent;
  }
  .feedback input:focus::-moz-placeholder {
    color: transparent;
  } /* Firefox 19+ */
  .feedback input:focus:-moz-placeholder {
    color: transparent;
  } /* Firefox 18- */
  .feedback input:focus:-ms-input-placeholder {
    color: transparent;
  }

  .feedback textarea:focus::-webkit-input-placeholder {
    color: transparent;
  }
  .feedback textarea:focus::-moz-placeholder {
    color: transparent;
  } /* Firefox 19+ */
  .feedback textarea:focus:-moz-placeholder {
    color: transparent;
  } /* Firefox 18- */
  .feedback textarea:focus:-ms-input-placeholder {
    color: transparent;
  }

  section.about {
    background-color: white;
    margin: 146px auto 70px;
  }

  .grid-about {
    display: grid;
    grid-template-columns: 2fr 40px 1fr 1fr;
    grid-template-rows: 68px 283px 49px 127px;
  }

  .grid-about img {
    grid-column: 1 / 2;
    grid-row: 1 / 5;

    width: 558px;
    height: 527px;
  }

  .grid-about h2 {
    grid-column: 3 / 5;
    grid-row: 1 / 2;

    margin-top: 0;
    margin-bottom: 0;

    font-size: 50px;
    font-family: "PlayfairDisplay", serif;
    font-weight: bold;
    line-height: 33px;
    color: rgb(64, 64, 64);

    cursor: default;
  }

  .grid-about p {
    grid-column: 3 / 5;
    grid-row: 2 / 3;

    margin-top: 0px;

    font-size: 18px;
    font-weight: 300;
    color: rgb(21, 21, 21);
    line-height: 25px;

    cursor: default;
  }

  .grid-about h3 {
    grid-column: 3 / 5;
    grid-row: 3 / 4;

    margin-top: 0px;
    margin-bottom: 0;

    font-size: 21px;
    font-family: "PlayfairDisplay";
    color: rgb(64, 64, 64);
    font-weight: bold;

    cursor: default;
  }

  .grid-about .btn {
    grid-column: 3 / 4;
    grid-row: 4 / 5;

    margin-top: 0;

    width: 170px;
    height: 19px;
  }

  .grid-about .btn:hover {
    transition: 0.3s;
    background-color: #061735;
    color: white;
  }

  .grid-about .btn:active {
    background-color: #1a55bd;
    box-shadow: 3px 3px 3px 0px rgba(255, 255, 255, 0.4) inset;
  }

  section.call-now {
    background-color: #0d2e69;
  }

  .call-now .container {
    padding-top: 56px;
    padding-bottom: 57px;
    cursor: default;
  }

  .call-now .container a {
    cursor: pointer;
  }

  .call-now,
  .call-now .call-now-phone {
    font-size: 40px;
    font-family: "PlayfairDisplay", serif;
    color: rgb(255, 255, 255);
    font-weight: bold;

    line-height: 68px;
    text-align: center;
    text-decoration: none;
  }

  section.reviews {
    background: url("imgs/reviews-bg.png") center center no-repeat;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
    background-size: cover;

    cursor: default;
  }

  section.reviews::before {
    content: "";
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    background-size: auto;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .reviews .container {
    padding-top: 60px;
    padding-bottom: 56px;
    text-align: center;
  }

  .reviews .container h2 {
    position: relative;
    z-index: 2;

    font-size: 54px;
    font-family: "PlayfairDisplay", serif;
    font-weight: bold;
    line-height: 27px;
  }

  .reviews-list {
    position: relative;
    z-index: 2;

    margin-top: 88px;
    margin-bottom: 52px;

    font-weight: lighter;
    font-size: 18px;
    line-height: 27px;
  }

  .reviews-list cite {
    display: block;
    font-style: normal;
    font-size: 16px;
  }

  .btn-case {
    position: relative;
    z-index: 2;
    margin-top: 60px;
  }

  .btn-case .btn {
    display: inline-block;
    margin: 0;
    padding: 8px 8px;
  }

  .btn-case a:first-of-type {
    margin-right: 5px;
  }

  .left-arrow {
    transform: rotate(45deg);
    width: 6px;
    height: 6px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
  }

  .right-arrow {
    transform: rotate(-45deg);
    width: 6px;
    height: 6px;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
  }

  .btn-case .btn:hover {
    transition: 0.3s;
    background-color: white;
  }

  .btn-case .btn:hover .left-arrow,
  .btn-case .btn:hover .right-arrow {
    transition: 0.3s;
    border-color: #0d2e69;
  }

  .btn-case .btn:active {
    box-shadow: 3px 3px 3px 0px rgba(13, 46, 105, 0.2) inset;
  }

  .btn-case .btn:active .left-arrow,
  .btn-case .btn:active .right-arrow {
    border-color: rgba(13, 46, 105, 0.6);
  }

  .news-and-articles {
    background-color: white;
    cursor: default;
  }

  .articles-grid {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 72px 33px;

    margin: 60px auto 65px;
  }

  .articles-grid h2 {
    grid-row: 1/2;
    grid-column: 1/4;

    margin: 0;
    padding: 0;

    font-size: 50px;
    font-family: "PlayfairDisplay", serif;
    color: rgb(64, 64, 64);
    font-weight: bold;
    text-align: center;
  }

  .articles-grid article {
    grid-row: 2/3;
  }

  article img {
    height: auto;
    width: 100%;
    margin-bottom: 11px;
  }

  article h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 18px;

    font-size: 20px;
    font-family: "PlayfairDisplay", serif;
    color: rgb(64, 64, 64);
    font-weight: bold;
    line-height: 27px;
  }

  article p {
    margin: 0;
    padding: 0;
    margin-bottom: 27px;

    height: 81px;

    font-weight: 300;
    font-size: 18px;
    color: rgb(64, 64, 64);
    text-overflow: ellipsis;
  }

  article a {
    font-size: 18px;
    color: #0d2e69;
    font-weight: bold;

    text-decoration: none;
    cursor: pointer;
  }

  article a:hover {
    transition: 0.3s;
    text-decoration: underline;
  }

  article a:active {
    color: rgba(13, 46, 105, 0.5);
    text-decoration: underline;
  }

  footer {
    background-color: #2b2b2b;
    cursor: default;
  }

  .footer-top {
    text-align: center;
    padding-top: 76px;
    padding-bottom: 79px;
  }

  .footer-top h3 {
    margin: 0;
    padding: 0;

    font-size: 22px;
    font-family: "PlayfairDisplay", serif;
    font-weight: bold;
  }

  address {
    padding-top: 22px;
    text-align: center;
  }

  footer ul {
    margin: 0;
    padding: 0;
  }

  address li {
    display: inline-block;
    padding: 0px 18px;

    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    line-height: 13px;

    list-style: none;
    border-right: 2px solid white;
  }

  .footer-bottom {
    background-color: #242424;
    padding-top: 25px;
    padding-bottom: 37px;
  }

  .footer-bottom .footer-menu {
    float: left;
    font-weight: 300;
  }

  .footer-menu li {
    display: inline-block;
    padding: 0px 18px;

    list-style: none;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    line-height: 13px;

    border-right: 2px solid white;
  }

  .footer-menu li:hover {
    text-shadow: 0 0 0.9px white, 0 0 0.9px white, 0 0 0.9px white;
  }

  .footer-menu li:active a {
    color: rgba(255, 255, 255, 0.2);
  }

  .footer-bottom .footer-copyright {
    float: right;
    font-weight: 300;
  }

  footer a {
    text-decoration: none;
    color: white;
    cursor: pointer !important;
  }
}
/* end of desctop mediaqueries */
